.results-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0 20px 30px;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
}

.record {
    color: #62bd4a;
    font-size: 34px;
}

.button {
    padding: 10px 15px;
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-decoration: none;
    background: none;
    border: 2px solid #000;
    border-radius: 10px;
}